<style>

h1 {


}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-size: 18px
	 font-weight:600;
	 color: white;
	 margin: 0 20px 0 20px;
	 border-bottom: 2px solid transparent;
}
a:hover {
	border-color:white;
}
img{
	margin: 40px 8px 0px 8px;
}
p{
font-family: "Droid Serif", serif;
line-height: 26px;
font size: 18px;
}
main{
	width: 850px;
	margin: 35px auto 35px auto;
}
body {
text-align: center;
margin: 0;
}

.cap {
	text-transform: uppercase;
	color:white;
	letter-spacing: 1px;
	font size: 45px;
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-weight: 10;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

header {
	background-color: #F15b31;
	font-color: white;
	padding: 30px 20px 30px 20px;
}
nav {
	background-color: #00a6b3;
	padding: 20px 0 20px 0;
	
}



footer {
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
}
.clearfix:after {
visibility: hidden;
display: block;
content: "";
clear: both;
height: 0;
font-size: 0;
}
.copyright{
float: left;

}
.message{
float: right;
}
.name{
	color: #F15b31;
	font-weight: 700;
}
</style>
